* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F7F8;
    color: #3D4670;
    font-family: 'Raleway', sans-serif;
    /*  padding: 20px; */
    /* Añadido para espaciado interno */
}

.contenedor {
    width: 100%;
    /* 90% */
    max-width: auto;
    margin: 10px auto;
    display: grid;
    /*   grid-gap: 0px; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
        'header header header header header'
        'contenido contenido contenido contenido sidebar'
        'coleccion coleccion coleccion coleccion sidebar'
        'footer footer footer footer footer';
}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .coleccion,
.contenedor .sidebar,
.contenedor .footer {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background-color: #3D4670;
    color: #FFFFFF;
    grid-area: header;
    font-family: 'Quicksand', sans-serif;
    /* Fuente para el título - quitar segun el contenido*/
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .contenido h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    /* Fuente para el h1 */
    /* Agregar para el texto de su descripcion */
}

.contenedor .contenido p {
    list-style: none;
}

.contenedor .contenido p {
    margin: 5px;
    font-weight: 400;
}

.contenedor .coleccion {
    background-color: #E8EAF1;
    /* cambiar */
    grid-area: coleccion;
    /* justify-content: right; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-color: #F6F7F8;
    /*cambiar*/
    background-size: 10px;
    /*  background-position: center center; */

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: translateY(-5px);
    /* Levantar la tarjeta al hacer hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra más intensa al hacer hover */
}

.card:hover::after {
    content: "";
    /* Necesario para mostrar el pseudo-elemento */
    position: absolute;
    /* Posicionamiento absoluto */
    top: 30%;
    /* Centrar verticalmente */
    left: 50%;
    /* Centrar horizontalmente */
    width: 100px;
    /* Ancho del círculo */
    height: 100px;
    /* Alto del círculo */
    border-radius: 50%;
    /* Hacerlo un círculo */
    background-color: #ffce3f80;
    /* Color del círculo con opacidad */
    transform: translate(-50%, -50%);
    /* Centrar el círculo */
    transition: opacity 0.3s ease;
    /* Transición de opacidad */
    opacity: 1;
    /* Opacidad al hacer hover */
}

.card::after {
    opacity: 0;
    /* Ocultar el círculo por defecto */
}

.titulo-razas {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-inline-start: 1px;
    margin-inline-end: 1px;

}

.descripcion-texto {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #3D4670;
    text-align: left;
    letter-spacing: 0.05em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}


.image-container {
    width: 100%;
    /* El contenedor ocupa el 100% del espacio disponible */
    height: 200px;
    /* Fija la altura del contenedor */
    display: flex;
    /* Flexbox para alinear la imagen */
    align-items: center;
    /* Centra la imagen verticalmente */
    justify-content: center;
    /* Centra la imagen horizontalmente */
    overflow: hidden;
    /* Oculta el desbordamiento si la imagen es más grande */
}

.tituloImag {
    width: 100%;
    /* Hacer que la imagen ocupe el 100% del ancho de su contenedor */
    height: 200px;
    /* Establece una altura fija para todas las imágenes */
    object-fit: contain;
    /* Mantiene la proporción original de la imagen sin recortar */
    min-width: 100%;
    /* Asegura que incluso las imágenes pequeñas se expandan */
    min-height: 200px;
    /* Asegura que las imágenes pequeñas tengan la altura adecuada */
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #e8eaf1;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    padding-right: 35px;
    min-height: 100px;
    /* height: 300px; */
    grid-area: sidebar;
}

.filtro-raza,
.filtro-grupo,
.filtro-ladrido,
.filtro-tamaño,
.filtro-esperanza,
.filtro-peso,
.filtro-colores,
.filtro-enfermedades {
    border: 2px solid #3D4670;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: 400;
    border-radius: 50px;
    line-height: 18px;
    padding: 9px 8px;
    width: 100%;
    white-space: pre-line;
    margin-bottom: 20px;
    /* Agrega espacio entre párrafos */
}

.label-filtro {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #3D4670;
    margin-bottom: 8px;
    /* Espaciado debajo del label */
    display: block;
    /* Ocupa toda la línea */
    letter-spacing: 0.4px;
    /* Espaciado entre letras */
    line-height: 1.0;
    /* Aumenta el espacio entre líneas */
}


.contenedor .footer {
    background: #3D4670;
    color: #FFFFFF;
    grid-area: footer;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #3D4670;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #FFCE3F;
    border: 4px solid #E8EAF1;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 15px;
    background-color: #FFFFFF;
    display: none;
    overflow: hidden;
    border-radius: 30px 10% 0px 0%;
}

.textofiltro {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight: 400;
    margin: 5px;
    line-height: 1.6;
    /* Espacio vertical entre líneas */
    color: #3D4670;
    text-align: left;
    letter-spacing: 0.05em;
    display: block;
    /*    margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #E8EAF1;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796';
    /* Unicode character for "minus" sign (-) */
}

@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-areas:
            'header header header header header'
            'contenido contenido contenido contenido contenido'
            'coleccion coleccion coleccion coleccion coleccion'
            'sidebar sidebar sidebar sidebar sidebar'
            'footer footer footer footer footer';
    }
}

/* Estilos para botones */
button {
    background-color: #79ADE0;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #FFCE3F;
}

/* Estilos para botones para ver el video */
button,
.video-button {
    background-color: #79ADE0;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    /* Para quitar el subrayado en el link */
    display: inline-block;
    /* Para que el enlace tenga las mismas propiedades de botón */
    font-family: 'Quicksand', sans-serif;
    font-size: small;
}

.video-button:hover {
    background-color: #3D4670;
    border: 2px solid #FFCE3F;
    /* Estilo hover opcional */
}

.btn-estilo {
    background-color: #3D4670;
    /* Color de fondo del botón */
    color: #ffffff;
    /* Color del texto */
    border-radius: 50px;
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    font-family: 'Quicksand', sans-serif;
    /* Fuente del botón */
    cursor: pointer;
    /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s ease;
    /* Efecto de transición */
    margin-block-start: 3%;
    margin-block-end: 3%;
}

.btn-estilo:hover {
    background-color: #79ADE0;
    /* Color de fondo al pasar el mouse */
}

.btn-estilo:focus {
    outline: none;
    /* Eliminar el contorno al hacer clic */
    box-shadow: 0 0 0 3px #FFCE3F;
    /* Sombra de enfoque con color #3D4670 */
}

.btn-estilo:disabled {
    background-color: #E8EAF1;
    /* Color de fondo cuando está deshabilitado */
    color: #FFFFFF;
    /* Color del texto cuando está deshabilitado */
    cursor: not-allowed;
    /* Cursor de no permitido */
}