body {
    font-family: 'Raleway', sans-serif; /* Fuente para el cuerpo */
    background-color: #F6F7F8; /* Color de fondo */
    color: #3D4670; /* Color de texto */
    margin: 0; /* Sin márgenes por defecto */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para títulos */
h1 {
    font-family: 'Quicksand', sans-serif; /* Fuente para el título */
    text-align: center; /* Centrar el h1 */
}

/* Estilos para párrafos */
p {
    font-family: 'Raleway', sans-serif; /* Fuente para los párrafos */
    font-weight: 400; /* Peso de fuente regular */
    font-size: 21px; /* Tamaño de fuente */
    text-align: center; /* Centrar los párrafos */
}

img {
width: 50%; /* 20% del ancho del contenedor */
height: auto; /* Mantiene la proporción */
}

/* Estilos para el grid de razas */
.razas-grid {
    display: grid; /* Usar cuadrícula para el diseño */
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    grid-gap: 20px; /* Espacio entre las cajas */
    padding: 20px; /* Añadir padding alrededor del grid */
}

/* Estilos para cada raza */
.razas {
    background-color: #FFFFFF; /* Color de fondo de los artículos */
    border: 1px solid #E8EAF1; /* Borde sutil */
    border-radius: 10px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interno */
    text-align: center; /* Centrar contenido */
    transition: transform 0.2s; /* Efecto de transición para hover */
}

.razas:hover {
    transform: scale(1.05); /* Escalar ligeramente al pasar el mouse */
}

/* Estilos para botones */
button {
    background-color: #79ADE0; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

button:hover {
    background-color: #FFCE3F; /* Color de fondo al pasar el mouse */
}

/* Estilos para el contenedor de filtros */
.container {
    display: grid; /* Usar grid para alinear columnas */
    gap: 20px; /* Espacio entre columnas */
    margin: 20px; /* Margen alrededor del contenedor */
}

/* Estilos para la sección de filtros */
.filtros {
    flex: 1; /* Sección de filtros ocupa 1 parte */
    background-color: #FFFFFF; /* Fondo blanco para los filtros */
    border: 1px solid #E8EAF1; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interno */
}