<<<<<<< HEAD
=======
/*Liliana-index*/
header{
    background-color: #3d4670;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*#banner{
    background-image: url(../imagenes/index/wave.png);
}*/

header img{
    width: 100px;
    margin-left: 25px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

header a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #e8eaf1;
    transition: all 300ms ease;
}

header ul li{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a:hover{
    color: #ffce3f;
}

label{
    position: relative;
    margin-top: 25px;
    margin-right: 25px;
}

input{
    background-color: #79ade0;
    width: 0px;
    transition: width 1s, border-radius 1s;
    border-radius: 50%;
    border-color: transparent;
    outline: none;
    padding: 12px 20px 10px 16px;
    color: #29304f;
    cursor: pointer;
}

input:focus{
    border-radius: 10%/20%;
    width: 150px;
    color: #29304f;
}

.glass{
    display: inline-block;
    position: absolute;
    left: 4px;
    bottom: -6px;
    transition: 0.4s;
}

input:focus + img{
    opacity: 0;
}


>>>>>>> 94886ca0871998d65226a649752f518ef7edd63f
body {
  background-color: #f8f9fa;
  font-family: 'Quicksand';
  margin: 0;
}

header  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  height: 90px;
}

.logo {
  height: 70px;
}

nav {
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.navmn {
  list-style: none;
  display: inline-block;
}

.navmn li {
  display: inline-block;
  position: relative;
  margin: 0 30px;
}

.navmn a {
  text-decoration: none;
  font-family: 'Quicksand';
  font-weight: 500;
  color: #29304f;
  padding: 10px;
  display: block;
  font-size: 25px;
  transition: all 300ms ease;
}

.navmn a:hover {
  color: #ffce3f;
}

.dropdown {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-color: #f8f9fa;
  border-radius: 8px;
  list-style: none;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navmn li:hover .dropdown {
  display: block;
}

.btnlg {
  background-color: #79ade0;
  color: #f6f7f8;
  font-family:'Quicksand';
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btnlg:hover {
  background-color: #ffce3f;
}

/* fin del header */


#main-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-section {
  flex: 1;
  max-width: 400px; /* Ancho máximo reducido */
  text-align: center; /* Centra el texto */
  
  padding: 10px;
}

.maintitle {
  font-family:'Quicksand';
  font-size: 60px;
  color: #3d4670;
  margin: 10px 0; /* Margen reducido */
}

.text-section p {
  font-family:'Quicksand';
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0; /* Margen reducido */
  color: #000000;
}

.btnmain {
  padding: 10px 15px; /* Relleno ajustado */
  font-size: 16px;
  background-color: #ffce3f;
  color: #3d4670;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnmain:hover {
  background-color: #79ade0;
}

.image-section {
  flex: 1;
  text-align: center; /* Centra la imagen */
  padding: 10px;
  max-width: 100%
}

.image-section img {
   max-width: 100%;
   height: auto;
   border-radius: 10px;
}

/* otras secciones */

.concept-section {
  font-size: 25px;
  color: #f6f7f8;
  background-color: #3d4670;
  padding: 50px 50px 30px 50px;
}


.categories {
 padding: 20px;
 text-align: center;
}

.boxlayout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  
.boxes1 {
  flex: 1 1 30%;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  /* background-color: #79ade0;
  padding: 20px;
  border-radius: 10px; */
}

.boxes1 img {
  width: 40%;
  height: auto;
}

.boxes1 p {
  margin: 10px 0 0; /* Espacio superior para el párrafo */
}

.adopt-section {
  background-color: #79ade0;
  font-size: 25px;
  padding: 50px 50px 30px 50px;
}

.adopt-section a:hover {
  color: #3d4670;
}


.social-section {
  font-size: 25px;
  padding: 50px 50px 30px 50px;
}





/* comienzo del footer */

.footer {
  font-family:'Quicksand';
  background-color: #3d4670;
  color: #e8eaf1;
  padding: 30px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
margin: 20px;
}

.footer-section h3 {
  border-bottom: 2px solid #ffce3f;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.contact-text {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-text i {
  margin-right: 10px;
  color: #ffce3f;
  font-size: 1.2em;
}

.contact-text p {
  margin: 0;
  font-size: 1em;
}

a {
  color: #ffce3f;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

a:hover {
  color: #79ade0;
}

.social-media {
  display: flex;
  gap: 10px;
}



.social-media a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #3d4670;
  background-color: #e8eaf1;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}

.social-media a:hover {
  color: #ffce3f;
}

.footer-image {
  text-align: center;
  margin: 20px 0;
}

.footer-image img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}


.bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #e8eaf1;
}

/*Andrea-adopciones*/





/*Katherine-razas*/






/*Gabriela-Red Social*/